<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Magna{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            {% if user.is_authenticated %}
            <a href="/home" class="logo">
                <img src="{% static 'images/magnaLogoWhite.png' %}" alt="Company Logo">
            </a>
            {% else %}
            <a href="/" class="logo">
                <img src="{% static 'images/magnaLogoWhite.png' %}" alt="Company Logo">
            </a>
            {% endif %}
            {% if not request.path == "/" and not request.path == "/home" %}
                <div class="nav-links">
                    <a href=" {% url 'absence-request' %}">Time Off</a>
                    <a href=" {% url 'view_job_postings' %}">Job Postings</a>
                    <a>HR Safety</a>
                    <a href=" {% url 'work-order' %}">Work Order</a>
                    <a href=" {% url 'travel-auth' %}">Travel Auth</a>
                    {% if user.is_authenticated %}
                        <a href=" {% url 'logout' %}">Log Out</a>
                    {% endif %}
                </div>
            {% endif %}
            {% if request.path == "/home" %}
                <div class="nav-links">
                    {% if user.is_authenticated %}
                        <a href=" {% url 'logout' %}">Log Out</a>
                    {% endif %}
                </div>
            {% endif %}

        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'js/scripts.js' %}" defer></script>
</body>
</html>