{% extends "base.html" %}

{% block title %}Home - Magna{% endblock %}

{% load static %}

{% block content %}

    <div class="header-image-container">
        <img src="{% static 'images/magnaLogo.png' %}" alt="Company Logo" class="header-image">
    </div>
    <hr class="separator">

    <div class="container">
        <a href="/absence-request" class="card-link" id="absence_request">
            <div class="card">
                <h2>Time Off</h2>
            </div>
        </a>
        <a href="/travel-auth" class="card-link" id="travel_auth">
            <div class="card">
                <h2>Travel Authorization</h2>
            </div>
        </a>
        <div class="card">
            <h2>Job Openings</h2>
        </div>
        <div class="card">
            <h2>HR Safety and Well Being</h2>
        </div>
    </div>
{% endblock %}
