
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magna Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> <!-- Link to your external CSS file -->
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/home" class="logo">
                <img src="{% static 'images/magnaLogoWhite.png' %}" alt="Company Logo">
            </a>
            <div class="nav-links">
                <a href=" {% url 'logout' %}">Log Out</a>
            </div>
        </nav>
        <div class="header-image-container">
            <img src="{% static 'images/magnaLogo.png' %}" alt="Company Logo" class="header-image">
        </div>
        <hr class="separator"> <!-- This is the line separator -->
    </header>

    <main>
        <div class="container">
            <a href="/absence-request" class="card-link">
                <div class="card">
                    <h2>Time Off</h2>
                </div>
            </a>
            <a href="/view_job_postings" class="card-link">
                <div class="card">
                    <h2>Job Postings</h2>
                </div>
            </a>
            <div class="card">
                <h2>HR Safety and Well Being</h2>
            </div>
        </div>
        <div class="container">
            <a href="/work-order" class="card-link">
                <div class="card">
                    <h2>Work Order</h2>
                </div>
            </a>
            <div class="card">
                <h2>Untitled</h2>
            </div>
            <div class="card">
                <h2>Untitled</h2>
            </div>
        </div>
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
    <script src="../static/js/scripts.js"></script>
</body>
</html>
