/* General Styles */
body {
    font-family: Arial, sans-serif; /* Sets the default font for the entire website */
}

/* Login Container Style - Used for login pages (not included in provided HTML) */
#login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Form Element Styles - Applied to forms in pto.html */
form h2 {
    text-align: center;
}

h2 {
    text-align: center;
}

form label,
form input,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    line-height: 2;
    padding: 0 10px;
}

form button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Container and Card Styles - Used in home.html and requests.html for layout */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 0;
    justify-content: center;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer; /* Changes the mouse cursor to indicate it's clickable */
    text-decoration: none; /* Removes underline from links */
    aspect-ratio: 3 / 2;
}

.card-link {
    text-decoration: none; /* Removes underline from links */
    color: black; /* Sets the text color to black */
    display: block; /* Makes the link behave like a block, allowing it to wrap the .card */
}

.card-link h2 {
    color: black; /* Ensures the color is black */
    text-decoration: none; /* Removes underline */
}
.card h2 {
    color: black; /* Ensures the color is black */
    text-decoration: none; /* Removes underline */
}

/* Box Model - Applies box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* Navbar Styles - Applied to navigation bars in all HTML files */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a.active {
    text-decoration: underline;
    font-weight: bold;
}

/* Header Image Container - Used in home.html */
.header-image-container {
    text-align: center;
    padding: 20px 0;
}

.header-image {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 75px;
    display: block;
    margin: 0 auto;
}

.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Request Container Styles - Used in pto.html */
.request-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Form Top Styles - Used in pto.html */
.form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.datetime-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.current-time,
.current-date {
    font-size: 0.9rem;
}

.top-right-image {
    height: 50px;
    width: auto;
}

.form-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-header h2 {
    font-size: 1rem;
    margin: 0;
    flex-shrink: 0;
}

.form-separator {
    height: 2px;
    background-color: black;
    border: none;
    flex-grow: 1;
    margin-left: 5px;
}

/* Form Card Styles - Used in pto.html */
.form-card {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}

/* Additional Form Styles - Applied to forms in pto.html */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0;
    margin-bottom: 4px;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form input[type="email"],
form select {
    padding: 8px;
    margin-bottom: 12px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

/* Page Navigation Styles - Used in pto.html and requests.html */
.navigation-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.page-navigation {
    display: inline-block;
    margin-bottom: -1px; /* Overlap with the separator */
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    background-color: transparent;
    color: black; /* Default color */
    text-decoration: none;
    border-radius: 5px; /* If you want rounded corners */
    transition: background-color 0.3s, color 0.3s;
}

.nav-button.active {
    background-color: red;
    color: white;
    text-decoration: none; /* Ensures no underline on hover */
}

.active {
    background-color: red;
    color: white;
}

.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 20px;
    margin-bottom: 20px;
}

#new-request.active, #current-requests.active {
    background-color: red;
    color: white;
    border-radius: 5px;
}

/* Request Type Specific Styles - Used in requests.html */
.request-card {
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    overflow: hidden; /* Ensures child elements don't overflow */
    display: flex;
    flex-direction: column;
}

.request-card:hover {
    background-color: #fff; /* Keep the background color the same on hover */
}

.request-card-top {
    background-color: #FFEB3B; /* Default color, will be overridden based on status */
    color: white;
    padding: 10px;
    position: relative; /* For positioning the X button */
    flex-basis: 33.33%;
}

.request-card-top .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
}

.request-card-top .issue-date {
    font-size: 0.9rem;
}

.request-card-top .request-type {
    font-weight: bold;
    color: black;
}

.request-card-bottom {
    padding: 20px;
    text-align: left;
    flex-grow: 1;
}

.status-approved .request-card-top {
    background-color: #4CAF50; /* Green for approved */
}

.status-pending .request-card-top {
    background-color: #FFEB3B; /* Yellow for pending */
}

.status-rejected .request-card-top {
    background-color: #F44336; /* Red for rejected */
}

/* Example of how to style the text for each status in the bottom section */
.request-card-bottom .status-text {
    /* Initially set default color, can be overridden based on status */
    color: black;
}

.status-approved .request-card-bottom .status-text {
    color: #4CAF50; /* Green for approved */
}

.status-pending .request-card-bottom .status-text {
    color: #FFEB3B; /* Yellow for pending */
}

.status-rejected .request-card-bottom .status-text {
    color: #F44336; /* Red for rejected */
}


/* Calendar Type Styles - used in calendar.html */

.calendar-container {
    /* Adjust the styles to fit your Figma design */
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Spacing from the navigation bar */
}

.calendar-card {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: default; /* Default cursor for calendar card */
    flex-direction: column;

}

#calendar-title {
    /* Style for the month and year */
    margin-bottom: 0.5rem; /* Adjust space below the title */
}

/* Make sure to remove any unwanted hover effects if they are inherited from the .card class */
.calendar-card:hover {
    background-color: #fff; /* Keep the background color the same on hover */
}

/* Specific separator for the calendar */
.calendar-card .calendar-separator {
    width: 100%; /* Make separator full width */
    height: 2px; /* Adjust height as needed */
    background: linear-gradient(to right, transparent, #333, transparent); /* Or any other style as per Figma */
    margin: 10px 0; /* Space above and below the separator */
}

.calendar-days,
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    justify-items: center;
    width: 100%;
}

.calendar-days div,
.calendar-dates .calendar-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-days div {
    padding: 5px 0;
}

.calendar-date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Set a fixed height */
    width: 60px; /* Set a fixed width to ensure all backgrounds are the same size */
    background-color: #f0f0f0;
    border-radius: 5px; /* Keeps the shape consistent for all dates */
    margin: 5px; /* Adjust margin as needed */
    position: relative; /* Needed for absolute positioning of child elements */
}

/* Style for the current date based on Figma */
.calendar-date.current-date {
    background-color: #ff3b30; /* Red background for the current date */
    color: #fff; /* White text for the current date */
}

/* Adjusting the calendar navigation container */
.calendar-navigation {
    display: flex;
    justify-content: center; /* Center the buttons */
    width: 100%;
    margin-bottom: 20px;
}

/* Style for the calendar navigation buttons */
.calendar-nav-button {
    background-color: #ff3b30; /* Red background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px; /* Increased padding */
    margin: 0 15px; /* Adjust margin as needed */
    cursor: pointer;
    font-weight: bold;
    font-size: larger; /* Optionally increase the font size */
    transition: background-color 0.3s;
}

/* Style for the calendar navigation buttons on hover */
.calendar-nav-button:hover {
    background-color: #cc2a25; /* Darker red for hover effect */
}

.absent-info {
    display: none;
    position: absolute;
    bottom: 100%; /* Show above the date */
    left: 50%;
    transform: translateX(-50%); /* Center align */
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border around the tooltip */
    border-radius: 5px;
    padding: 5px;
    white-space: nowrap; /* Prevents text from wrapping */
    /* Additional styling for the tooltip as needed */
}

.calendar-date:hover .absent-info {
    display: block;
}


/* Style for 'Requested Off' information */
.request-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Green background to indicate requested off */
    color: white; /* White text for visibility */
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.75rem;
    white-space: nowrap; /* Prevents text from wrapping */
    margin-bottom: 5px; /* Space from the bottom of the calendar date */
    z-index: 1; /* Ensures the label appears above other elements */
}

.calendar-date:hover .request-info {
    display: block;
}

/* Style for date information */
.date-info {
    display: none; /* Hide by default */
    position: absolute;
    bottom: 100%; /* Show above the date */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border around the tooltip */
    border-radius: 5px;
    padding: 5px;
    white-space: nowrap; /* Prevents text from wrapping */
    /* Additional styling for the tooltip as needed */
    font-size: 0.75rem;
}

.calendar-date:hover .date-info {
    display: block;
}

.calendar-date.high-request {
    background-color: yellow !important; /* Use !important to override other styles */
}

/* Styles for pdf page */

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

/* Upload card styles */
.upload-pdf-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%; /* or any other suitable width */
    margin-right: 10%; /* space between the upload card and form card */
}

/* Existing form card styles */
.existing-form-card {
    flex-basis: 45%;
}

/* Form control styles */
.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

/* Button styles */
.btn {
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .upload-card,
    .existing-form-card {
        flex-basis: 100%;
    }
}

/* Styles for search and filter in view_job_postings.html */
.search-and-sort-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* This sets a 10px gap between the search bar and the buttons */
}

.search-and-sort-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex-grow: 1; /* This allows the search input to take up the available space */
    margin-right: 10px; /* Adds space to the right of the search bar */
}

.search-button {
    background-color: #d3d3d3; /* Set the button color to grey */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.sort-button {
    background-color: #d3d3d3; /* Grey background */
    border: none;
    border-radius: 50%; /* Make it round */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sort-icon {
    font-size: 24px; /* Icon size */
}

.sort-button:hover {
    background-color: #b3b3b3; /* Darker grey on hover */
}

.sort-button img {
    width: 24px; /* Icon size */
    height: 24px; /* Maintain aspect ratio */
}
