{% extends "base.html" %}

{% block title %}Login - Magna{% endblock %}

{% load static %}

{% block content %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
        {% endif %}

<!--    <div class="login-container">-->
<!--        <form class="login-form">-->
<!--            <h2>Login</h2>-->
<!--            <div class="input-group">-->
<!--                <label for="username">Username</label>-->
<!--                <input type="text" id="username" name="username" required>-->
<!--            </div>-->
<!--            <div class="input-group">-->
<!--                <label for="password">Password</label>-->
<!--                <input type="password" id="password" name="password" required>-->
<!--            </div>-->
<!--            <button type="submit" id="log-in">Log In</button>-->
<!--        </form>-->
<!--    </div>-->

<div class="header-image-container">
    <img src="{% static 'images/magnaLogo.png' %}" alt="Company Logo" class="header-image">
</div>

<div class="form-card">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button type="submit" class="btn btn-primary" id="log-in">Login</button>
    </form>
</div>

{% endblock %}
