<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Upload PDF</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="logo">
                <img src="{% static 'images/magnaLogoWhite.png' %}" alt="Company Logo">
            </a>
            <div class="nav-links">
                <a href="/absence-request">Time Off</a>
                <a href="/view_job_postings">Careers</a>
                <a href="/work-order">Work Order</a>
                <a>Contact</a>
                <a href=" {% url 'logout' %}">Log Out</a>
            </div>
        </nav>
    </header>
    <div class="navigation-container">
        <div class="page-navigation">
            <a href="{% url 'view_job_postings' %}" class="nav-button {% if request.resolver_match.url_name == 'view_job_postings' %}active{% endif %}">Current Postings</a>
            <a href="{% url 'create_job_postings' %}" class="nav-button {% if request.resolver_match.url_name == 'create_job_postings' %}active{% endif %}">New Posting</a>
        </div>
        <hr class="separator">
    </div>
    <div class="side-by-side-container">
        <div class="upload-pdf-card">
            <form id="upload-form" method="post" action="{% url 'upload_pdf' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="pdf_title">Enter title for the PDF</label>
                    <input type="text" id="pdf_title" name="title" placeholder="Enter title for the PDF" required>
                </div>
                <div class="form-group">
                    <label for="pdf_file">Choose File</label>
                    <input type="file" id="pdf_file" name="pdf_file" accept="application/pdf" required>
                </div>
                <button type="submit" class="btn-upload">Upload PDF</button>
            </form>
        </div>
            <div class="form-card">
                <!-- Your form card design -->
                <div class="form-top">
                    <div class="form-logo">
                        <img src="{% static 'images/magnaLogo.png' %}" alt="Company Logo" class="top-right-image">
                    </div>
                    <div class="datetime-container">
                        <div class="current-time">Current Time: <span id="time"></span></div>
                        <div class="current-date">Current Date: <span id="date"></span></div>
                    </div>
                </div>
                <div class="form-header">
                    <h2>Job Postings</h2>
                </div>
                <div>
                    <hr class="form-separator">
                </div>
                <form method="POST" action="{% url 'create_pdf_content' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="pdfTitle">PDF Title:</label>
                        <input type="text" id="pdfTitle" name="title" required>
                    </div>

                    <div id="pdfFormComponents">
                        <!-- Dynamic label inputs will be added here -->
                    </div>
                    <button type="button" id="addTextInput">Add Text Input Label</button>
                    <button type="button" id="addCheckbox">Add Checkbox Label</button>

                    <button type="submit" class="btn-upload">Generate and Save PDF</button>
                </form>
            </div>
    </div>

    <script src="{% static 'js/scripts.js' %}">defer</script>
</body>
</html>
