<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Requests</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
        <nav class="navbar">
            <a href="/home" class="logo">
                <img src="{% static 'images/magnaLogoWhite.png' %}" alt="Company Logo">
            </a>
            <div class="nav-links">
                <a>Innovations</a>
                <a>Products</a>
                <a>Stories</a>
                <a>Company</a>
                <a>Careers</a>
                <a>Contact</a>
            </div>
        </nav>
    </header>

<div class="navigation-container">
    <div class="page-navigation">
        <a href="/absence-request" class="nav-button {% if request.path == '/absence-request' %}active{% endif %}" id="new-request">New Request</a>
        <a href="/requests" class="nav-button {% if request.path == '/requests' %}active{% endif %}" id="current-requests">Current Requests</a>
        {% if current_user.role != "kiosk" %}
            <a href="/calendar" class="nav-button {% if request.path == '/calendar' %}active{% endif %}" id="calendar">Calendar</a>
        {% endif %}
    </div>
    <hr class="separator">
</div>

<div class="container">
    {% if current_user.role == "kiosk" %}
       <form id="search-form">
            <label for="clock_number">Enter Clock Number:</label>
            <input type="text" id="clock_number" name="clock_number">
            <button type="submit">Search</button>
        </form>
    {% endif %}

    {% if current_user.role != "kiosk" %}
        {% for request in requests %}
        <div class="request-card status-{{ request.approval_status }}">
            <div class="request-card-top">
                <div>Filled by: {{ request.filled_by.name }} </div>
                <div class="request-type">{{ request.absence_type }}</div>
            </div>
            <div class="request-card-bottom">
                <div>Start Date: {{ request.start_date|date:"m/d/Y" }}</div>
                <div>End Date: {{ request.end_date|date:"m/d/Y" }}</div>
                <div>Shift: {{ request.shift_number }}</div>
                <div>Hours Gone: {{request.hours_gone}}</div>
                <div>Supervisor: {{ request.approval.name }}</div>
                <div class="status-text">Status: {{ request.approval_status }}</div>
            </div>
        </div>
        {% empty %}
        <p>No requests found.</p>
        {% endfor %}
    {% endif %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchForm = document.getElementById('search-form');

        if (searchForm) {
            searchForm.addEventListener('submit', function(event) {
                event.preventDefault();

                const clockNumber = document.getElementById('clock_number').value;

                fetch(`/search-requests?clock_number=${clockNumber}`)
                    .then(response => response.json())
                    .then(data => {
                        const container = document.querySelector('.container');
                        container.innerHTML = '';

                        if (data.length > 0) {
                             data.forEach(request => {
                                 const requestCard = document.createElement('div');
                                 requestCard.classList.add('request-card');
                                 requestCard.classList.add(`status-${request.approval_status}`);

                                 const requestCardTop = document.createElement('div');
                                 requestCardTop.classList.add('request-card-top');

                                 const filledBy = document.createElement('div');
                                 filledBy.textContent = `Filled by: ${request.filled_by}`;

                                 const requestType = document.createElement('div');
                                 requestType.classList.add('request-type');
                                 requestType.textContent = request.absence_type;

                                 requestCardTop.appendChild(filledBy);
                                 requestCardTop.appendChild(requestType);

                                 const requestCardBottom = document.createElement('div');
                                 requestCardBottom.classList.add('request-card-bottom');

                                 const startDate = document.createElement('div');
                                 startDate.textContent = `Start Date: ${request.start_date}`;

                                 const endDate = document.createElement('div');
                                 endDate.textContent = `End Date: ${request.end_date}`;

                                 const shift = document.createElement('div');
                                 shift.textContent = `Shift: ${request.shift_number}`;

                                 const hoursGone = document.createElement('div');
                                 hoursGone.textContent = `Hours Gone: ${request.hours_gone}`;

                                 const supervisor = document.createElement('div');
                                 supervisor.textContent = `Supervisor: ${request.approval}`;

                                 const statusText = document.createElement('div');
                                 statusText.classList.add('status-text');
                                 statusText.textContent = `Status: ${request.approval_status}`;

                                 requestCardBottom.appendChild(startDate);
                                 requestCardBottom.appendChild(endDate);
                                 requestCardBottom.appendChild(shift);
                                 requestCardBottom.appendChild(hoursGone);
                                 requestCardBottom.appendChild(supervisor);
                                 requestCardBottom.appendChild(statusText);

                                 requestCard.appendChild(requestCardTop);
                                 requestCard.appendChild(requestCardBottom);

                                 container.appendChild(requestCard);
                             })
                        } else {
                            const noRequestMessage = document.createElement('p');
                            noRequestMessage.textContent = 'No requests found.';
                            container.appendChild(noRequestMessage);
                        }

                        const resetButton = document.createElement('button');
                        resetButton.classList.add('reset-button');
                        resetButton.textContent = 'Reset';
                        resetButton.addEventListener('click', function() {location.reload();});
                        container.appendChild(resetButton);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        }
    });
</script>
<script src="{% static 'js/scripts.js' %}" defer></script>
</body>
</html>
